[Unit]
Description=Hadoop Exporter For Prometheus
After=network.target

[Service]
Type=simple
Restart=always

LimitNOFILE=65536
LimitNPROC=infinity
LimitCORE=infinity
LimitSTACK=infinity
LimitMEMLOCK=infinity

ExecStart=/opt/hadoop-exporter/hadoop_exporter \
    -ListenUri {{ inventory_hostname }}:18428 \
    -Role {{ role }} \
    -Uri http://{{ inventory_hostname }}:{{ jmx_port }} \
    -LogLevel info -LogOutput file -LogOutputFile {{ hadoop_log_directory }}/hadoop-exporter.log

User={{ runtime_user }}
Group={{ runtime_user }}
 
[Install]
WantedBy=multi-user.target
